
header{
  height: 108px;
  background-color: #303841;
}
nav{
  margin-bottom: 30px;
}
nav ul{
  list-style: none;
  margin-right: -30px;
  margin-top: 30px;
}
nav ul li{
  float: left;
  padding-right: 15px;
}
nav ul li a{
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 19px;
  text-decoration: none;
  color: #303841;
}
nav ul li a:hover{
  color: #EA9215;
}
nav input{
  float: right;
}
nav i{
  float:right;
  color: #303841;
  font-size:24px !important;
  padding-left:15px;
  padding-right:15px
}
input[type=search] {
  font-family: FontAwesome;
  width:100px;
  padding:5px;
  border:2px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}
input[type=search]:focus{
    width:250px;
}
input:focus{
  outline:none;
}
.banner img{
  width: 960px;
  position: relative;
}
.banner h1, p, span{
  position: absolute;
  top: 300px;
}
.banner h1{
  font-family:
}
